{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eduke - Register</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link rel="icon" href="{% static 'main/images/logobase_white.png' %}">
</head>
<body class="bg-white leading-normal tracking-normal">
    
    <div class="flex min-h-screen w-full flex-wrap items-stretch bg-white max-md:pb-20 max-md:pt-32">
        
        <div class="grow w-full md:flex md:w-1/2 md:flex-col md:items-center md:justify-center md:py-20 sm:px-6 px-4">
            
            <div class="bg-white p-10 rounded-xl shadow-[4px_4px_30px_rgba(0,0,0,0.3)] w-full max-w-md">
                <h2 class="text-2xl font-bold text-center mb-4 text-[#4f0074]">Welcome to Eduke!</h2>
                <p class="text-sm text-gray-600 text-center mb-6">Create an account to explore our amazing features.</p>

                <form method="POST">
                    {% csrf_token %}
                    <div class="mb-2">
                        <label for="name" class="block text-sm font-medium text-gray-700 mb-2">Institution Name</label>
                        {{ form.institution_name }}
                    </div>
                    
                    <div class="mb-2">
                        <label for="name" class="block text-sm font-medium text-gray-700 mb-2">Email</label>
                        {{ form.email }}
                    </div>

                    <div class="mb-1">
                        <label for="password" class="block text-sm font-medium text-gray-700 mb-2">Password</label>
                        {{ form.password }}
                    </div>

                    <button type="submit" class="w-full bg-[#4f0074] text-white px-3 py-2 rounded-md hover:bg-[#670098] transition-colors">Sign Up</button>
                </form>

                <div class="flex justify-between mt-5">
                    <p class="text-sm">Already have an account? <a href="{% url 'login' %}" class="text-[#4f0074] hover:underline">Sign In</a></p>
                    <p class="text-sm"><a href="/" class="text-[#4f0074] hover:underline">Home</a></p>
                </div>

                {% if messages %}
                    {% for message in messages %}
                        <p class="text-red-600 font-bold">
                            {{ message }} (Tags: {{ message.tags }})
                        </p>
                    {% endfor %}
                {% endif %}


            </div>
        </div>

        <!-- Right image section -->
        <div class="hidden sm:w-1/4 sm:p-[30px] md:flex md:w-1/2 md:items-center md:justify-center bg-gray-100">
            <img src="{% static 'main/images/logo_text.png' %}" 
                alt="Eduke Registration" 
                class="h-auto w-3/4 max-h-[1080px] max-w-[1080px] object-cover">
        </div>

    </div>
    
</body>
</html>
